{{ define "main" }}
<article class="wrap post">
    <header class="page-head post-head">
        <a class="back-link" href="{{ "/blog/" | relURL }}">&larr; All posts</a>
        <h1>{{ .Title }}</h1>
        {{ with .Params.subtitle }}<p class="subtitle">{{ . }}</p>{{ end }}

        {{ $author := site.GetPage (print "about/" .Params.author) }}
        <dl class="post-meta">
            <div class="post-meta-author">
                <img src="{{ $author.Params.photo | relURL }}" class="author-avatar" alt="{{ $author.Params.name }}">
                <div>
                    <dt>Author</dt>
                    <dd><a href="{{ $author.RelPermalink }}">{{ with $author.Params.name }}{{ . }}{{ else }}{{ $.Params.author }}{{ end }}</a></dd>
                </div>
            </div>
            <div>
                <dt>Published</dt>
                <dd><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time></dd>
            </div>
            <div>
                <dt>Reading time</dt>
                <dd>{{ i18n "readingTime" .Page.ReadingTime }}</dd>
            </div>
            {{ with .Params.categories }}
            <div>
                <dt>Tags</dt>
                <dd>{{ range . }}<a href="{{ "/categories/" | relURL }}{{ . | urlize }}" class="chip">{{ . }}</a>{{ end }}</dd>
            </div>
            {{ end }}
        </dl>
    </header>

    <div class="content prose">{{ .Content }}</div>
</article>
{{ end }}
